<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Enter you text Below</h1>
    <form action="/capital" method="get"><br>
        <textarea type="text" placeholder="Enter the text Here" name="text"></textarea><br>
        <input type="checkbox" name="checkbox1">Capital <br>
        <input type="checkbox" name="checkbox2">Remove Punctuations <br>
        <input type="checkbox" name="checkbox3">New Line Remover<br>
        <button type="submit">Formate</button>
    </form>
</body>
</html>